.it-hero-wrapper.it-bottom-overlapping-content .it-hero-text-wrapper {
  padding-top: 136px;
}


@media (min-width: 992px) {
  .it-hero-wrapper.it-bottom-overlapping-content .it-hero-text-wrapper {
    padding-bottom: 160px;
    padding-top: 160px;
  }
}

@media (min-width: 992px) {
  .it-hero-wrapper .img-wrapper img {
    object-position: 0 35%;
  }
}

:host ::ng-deep it-card {
  .card-body {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
  }
  .card {
    margin-bottom: 1em;
  }
  .card:after {
    display: none !important;
  }
}

p:last-child {
  margin-bottom: 0;
}

