.it-hero-wrapper.it-bottom-overlapping-content .it-hero-text-wrapper {
  padding-top: 136px;
}


@media (min-width: 992px) {
  .it-hero-wrapper.it-bottom-overlapping-content .it-hero-text-wrapper {
    padding-bottom: 160px;
    padding-top: 160px;
  }
}

@media (min-width: 992px) {
  .it-hero-wrapper .img-wrapper img {
    object-position: 0 35%;
  }
}

:host ::ng-deep it-card {
  .card-body {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
  }
  .card {
    margin-bottom: 1em;
  }
  .card:after {
    display: none !important;
  }
}

p:last-child {
  margin-bottom: 0;
}

.video-container {
  width: 80%;
  margin: 0 auto; /* centers the container */
  margin-bottom: 1em;
}
.video-wrapper {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 ratio */
  overflow: hidden;
  border-radius: 6px;
  margin: 0;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
